@model Employee
@{
    ViewData["Title"] = "Details Of Employee";
}

<h1>Employee <span class="text-warning">@Model.Name</span> Details</h1>

<div>
    <partial name="PartialViews/DetailsDeleteEmployeePartial" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>