
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div>
			<p>Password Reset link Has been Sent to your Email</p>
			<p>Please Check <a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a></p>
		</div>
	</div>
</div>