@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="ModelOnly"></div>
		<form asp-action="ResetPasswordEmail">
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
		
			<input type="submit" value="Send">
		</form>
	</div>
</div>

@section ValidationScriptsSections {
	<partial name="_ValidationScriptsPartial" />
}