
@{
    ViewData["Title"] = "Invaled Email Or Token";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<p class="txt-red">Invalid Url!! Please Back To <a asp-action="SignIn"> Sign In </a> Page</p>
	</div>
</div>