
@{
    ViewData["Title"] = "More Than Three Attemps";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<p>You Entered the <span class="txt-red">New Password Wrong More Than 3 Time!!</span> The Previous Password Will Not Change!</p>
		<p>Back To <a asp-action="SignIn"> Sign In </a> Page</p>
	</div>
</div>