@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="ModelOnly" class="txt-red"></div>
		<form asp-action="ResetPassword">
			<input class="text w3lpass" asp-for="NewPassword" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" class="txt-red"></span>
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="txt-red"></span>
			
			<input type="submit" value="SUBMIT">
		</form>
	</div>
</div>

@section ValidationScriptsSections {
	<partial name="_ValidationScriptsPartial" />
}