@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-5">Delete <span class="text-warning">@Model.Username</span> User?</h1>

<form asp-action="Delete">
    <partial name="PartialViews/DetailsDeleteUserPartial" />

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>