@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-5">User <span class="text-warning">@Model.Username</span> Details</h1>

<div>
    <partial name="PartialViews/DetailsDeleteUserPartial" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>